.registration-form-container{
    padding: 30px;
    text-align: left;
    width: 60% !important;
    margin: 80px auto;
    background-color: white;
    border-radius: 10px;
}
.registration-form-container p{
    color: black;
}
